@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <a asp-action="Edit" class="btn btn-primary" asp-route-id="">Edit</a> |
   <a asp-action="Details" class="btn btn-primary" asp-route-id="">Details</a> |
   <a asp-action="Delete" class="btn btn-primary" asp-route-id="">Delete</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
