@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Final Project by Rholex Dizon
    <br />
    RD Bookstore
    <br />
    © Copyright 2022 - Rholex Dizon Bookstore

</p>
